<md-grid-list md-cols="2" md-row-height="4:3" md-gutter="6px">
        <md-grid-tile ng-repeat="article in articles track by $index" ng-click="OpenDialog(article)">
            <img ng-src="{{article.art_image}}" alt="Article Image" layout-fill>
            <md-grid-tile-footer>
                <h3>{{article.title}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
</md-grid-list>
<div layout="row" layout-wrap>
    <md-card ng-repeat="article in articles track by $index" ng-class-odd="!(($index + 4) % 4) ? 'bg-liblue' : 'bg-purple'" ng-class-even="!(($index + 1) % 4) ? 'bg-liblue' : 'bg-purple'" ng-click="OpenDialog(article)" flex="45">
        <img ng-src="{{article.art_image}}" class="md-card-image" alt="Article Image" style="min-height: 120px;max-height: 120px;" />
        <md-card-content layout-padding>
            <p>{{article.desc | limitTo:50}}...</p>
    </md-card>
</div>
<md-card ng-repeat="article in articles track by $index" class="bg-liblue" ng-click="OpenDialog(article)">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{article.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <img ng-src="{{article.art_image}}" class="md-card-image" alt="Article Image">
</md-card>
<md-card ng-repeat="article in articles track by $index" class="bg-liblue">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline"><a ng-click="OpenArticle(article.url)">{{article.title}}</a></span>
        </md-card-title-text>
    </md-card-title>
    <img ng-src="{{article.art_image}}" class="md-card-image" alt="Article Image">
    <md-card-actions layout="row" layout-align="end center">
        <img ng-src="{{article.contr_pic}}" alt="{{article.contr_name}}" class="img-circle" height="80" width="60" />
        <p style="padding-left: 5px;">Contributed by <a ng-click="OpenContri(article.contr_name)">{{article.contr_name}}</a></p>
        <md-button class="md-icon-button" aria-label="Favorite" layout="end center">
            <ng-md-icon icon="favorite" class="purple"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share" layout="end center">
            <ng-md-icon icon="share" class="gray"></ng-md-icon>
        </md-button>
    </md-card-actions>
</md-card>