<md-card ng-repeat="article in articles track by $index" ng-init="color = randomColor()" flex style="margin:5%;">
    <img ng-src="{{article.art_image}}" class="md-card-image" alt="Article Image" ng-click="OpenArticle(article.url)">
    <md-card-content layout-padding class="padding-remove">
        <span class="md-display-1 padding-right {{color}}"><a ng-click="OpenArticle(article.url)">{{article.title}}</a></span>
        <div layout="row" class="padding-remove" style="padding-left:0">
            <img ng-src="{{article.contr_pic}}" alt="{{article.contr_name}}" class="img-circle" height="60" width="60" />
            <div layout="column" flex>
                <a style="padding-top: 25px;padding-left: 5px;" ng-click="OpenContri(article.contr_name)" class="gray"><i>{{article.contr_name}}</i></a>
                <md-divider class="divider-{{color}}"></md-divider>
            </div>
        </div>
        <span class="md-body-1 padding-right">{{article.desc}}</span>
    </md-card-content>
</md-card>