<md-card flex="50">
    <img ng-src="{{card.art_image}}" class="md-card-image" alt="Article Image">
    <md-card-content layout-padding>
        <span class="md-headline"><a ng-click="OpenArticle(card.url)">{{card.title}}</a></span>
        <div layout="row">
            <img ng-src="{{card.contr_pic}}" alt="{{card.contr_name}}" class="rounded-edges" height="60" width="60" />
            <div layout="column" layout-align="end start">
                <a ng-click="OpenContri(card.contr_name)" class="gray"><i>{{card.contr_name}}</i></a>
                <md-divider></md-divider>
            </div>
        </div>
        <p>{{card.desc}}</p>
    </md-card-content>
</md-card>