<h2 style="text-align:center">{{quiz.quiz_title}}</h2>
<div layout="column">
    <span class="md-title" layout-padding style="text-align:center">{{quiz.questions[index]}}</span>
    <md-radio-group class="md-primary" layout-padding ng-model="choice">
        <md-radio-button ng-repeat="answer in quiz.answer_choices[index] track by $index" flex layout="row" layout-align="start center" ng-value="answer" style="border: 1.5px solid #246FF2;" class="rounded-edges">{{answer}}</md-radio-button>
    </md-radio-group>
    <div layout="row" layout-align="space-between center">
        <md-button ng-disabled="index == 0" class="md-raised md-primary" style="border-radius: 0.2em;" ng-click="previousQuestion()"><<</md-button>
        <span class="md-subhead">Question {{index + 1}} out of {{count}}</span>
        <md-button ng-disabled="choice == null" class="md-raised md-primary" style="border-radius: 0.2em;" ng-click="nextQuestion()">>></md-button>
    </div>
</div>