md-nav-bar md-nav-ink-bar, _md-nav-button-text, _md-nav-button {
    color: #5478ef;
    background: #5478ef;
}
._md-nav-button, ._md-nav-button-text {
    color: #5478ef;
}
.orange {
    color: #ed7d31;
}
.one-blue {
    color: #1e87f0;
}
.purple {
    color: #8a84e2;
}
.light-blue {
    color: #79beee;
}
.gray {
    color: #222;
}
.black{
    color: #333;
}